<!DOCTYPE html>

<html>
<head>
<title>{{title}}</title>
</head>

<body>
	<div class="top_bar">
		<span>Hola {{username}}</span> 
		<a class="top_bar_link" href="/profile">Perfil</a>
		<a class="top_bar_link" href="/login">Cerrar sesión</a>
	</div>

	<div class="events">
		<div class="finished_event">
		</div>
		
		<div class="current_event">
		</div>
		
		<div class="incoming_event">
		</div>
		
	</div>

</body>
<footer> 
	<span>Trabajo de la asignatura Diseño de Aplicaciones Web</span>
	<span>Autor: Álvaro Tristancho</span>
</footer>

</html>