<!DOCTYPE html>

<html>
<head>
	<title>Perfil</title>
</head>

<body>
	<form action="/profile" method="post">
		<div></div>
		<div>
			<label for="username">Nombre de usuario </label>
			<input type="text" id="username" name="username" value="{{username}}" disabled="disabled">
		</div>
		<div>
			<label for="email">Email </label>
			<input type="email" id="email" name="email" value="{{email}}">
		</div>
		<div>
			<label for="alert_enabled">Alertas activadas</label>
			<input type="checkbox" id="alert_enabled" name="alert_enabled">
		</div>		
		<div>
			<span>Tiempo de aviso</span>
			<select id="alert_time" name="alert_time">
				<option value="0">Al empezar</option>
				<option value="10">10</option>
				<option value="15">15</option>
				<option value="20">20</option>
				<option value="25">25</option>
				<option value="30">30</option>
			</select>
		</div>
		<div>
			<span>{{events}}</span>
		</div>
		
		<input type="submit">
	</form>
</body>

</html>