body {
	width: 55em;
	margin-left: auto;
	margin-right: auto;
	background-image: url("/img/body_background.png");
	background-repeat: no-repeat;
	font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* Pie de pagina */
footer {
	min-height: 7em;
	margin-top: 2em;
	border-top: thin;
	border-top-color: black;
	background-image: url("/img/footer_background.png");
	background-repeat: repeat-x;
}

footer img {
	float: left;
	height: 100px;
	width: 100px;
	padding-left: 0.5em;
}

footer span {
	float: right;
	clear: right;
	text-align: right;
	text-shadow: black;
	font-weight: bold;
	padding-top: 1em;
	padding-right: 1em;
	color: #000033;
}

/* Cabecera */
header {
	min-height: 4em;
	background-image: url("/img/header_background.png");
	background-repeat: repeat-x;
}

header a {
	float: right;
	padding-right: 1em;
	padding-top: 0.25em;
}

div.logo_container {
	float: left;
	padding-left: 0.5em;
}

div.logo_container {
	display: inline-block;
}

div.logo_container a {
	padding: 0;
}

div.buttons_container {
	display: inline-block;
	float: right;
}

div.welcome_message_container {
	display: inline-block;
	padding-top: 1em;
	padding-left: 2em;
}

div.welcome_message_container span {
	padding: 0;
	color: "#595959";
	font-style: italic;
}

/* Cuerpo */
article {
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: center;
}

div.events {
	min-height: 10em;
}

/* Boton de login */
.login_mouseOver {
	height: 40px;
	width: 150px;
	background-image: url("/img/button_login_mouseover.png");
}

.login_mouseDown {
	height: 40px;
	width: 150px;
	background-image: url("/img/button_login_mousedown.png");
}

.login_mouseOut {
	height: 40px;
	width: 150px;
	background-image: url("/img/button_login.png");
}

/* Boton de logout */
.logout_mouseOver {
	height: 40px;
	width: 150px;
	background-image: url("/img/button_logout_mouseover.png");
}

.logout_mouseDown {
	height: 40px;
	width: 150px;
	background-image: url("/img/button_logout_mousedown.png");
}

.logout_mouseOut {
	height: 40px;
	width: 150px;
	background-image: url("/img/button_logout.png");
}

/* Boton de registrarse */
.register_mouseOver {
	height: 40px;
	width: 150px;
	background-image: url("/img/button_registration_mouseover.png");
}

.register_mouseDown {
	height: 40px;
	width: 150px;
	background-image: url("/img/button_registration_mousedown.png");
}

.register_mouseOut {
	height: 40px;
	width: 150px;
	background-image: url("/img/button_registration.png");
}

/* Boton de ver perfil */
.profile_mouseOver {
	height: 40px;
	width: 150px;
	background-image: url("/img/button_profile_mouseover.png");
}

.profile_mouseDown {
	height: 40px;
	width: 150px;
	background-image: url("/img/button_profile_mousedown.png");
}

.profile_mouseOut {
	height: 40px;
	width: 150px;
	background-image: url("/img/button_profile.png");
}

/* Boton de guardar cambios */
.save_mouseOver {
	height: 40px;
	width: 150px;
	background-image: url("/img/button_save_mouseover.png");
}

.save_mouseDown {
	height: 40px;
	width: 150px;
	background-image: url("/img/button_save_mousedown.png");
}

.save_mouseOut {
	height: 40px;
	width: 150px;
	background-image: url("/img/button_save.png");
}

/* Pantalla de Login */
.form_submit {
	text-align: center;
	padding-top: 2em;
	clear: both;
}

.login_field {
	padding-top: 1em;
}

.login_field label {
	color: "#595959";
	font-style: italic;
}

.login_field input {
	width: 20em;
}

/* Errores */
.error {
	color: red;
}

/* Página principal */
.event {
	clear: both;
	padding-bottom: 2em;
	padding-top: 1em;
	height: 4em;
	min-width: 10em;
	background-image: url("/img/event_background.png");
	background-repeat: repeat-x;
}

.event_list {
	padding-top: 1em;
	text-align: center;
}

.event_title {
	font-weight: bold;
	padding-bottom: 0.5em;
	padding-left: 1em;
	padding-top: 0.4em;
	float: left;
	text-shadow: 2px 2px #cccccc;
}

.event_waypoint {
	float: left;
	color: #ffdd00;
	padding-left: 1em;
	text-shadow: 1px 2px #444;
	font-weight: bold;
}

.event_time {
	float: left;
	padding-right: 1em;
	color: #000099;
	font-style: italic;
	font-weight: bold;
}

.event_times {
	float: left;
	padding-left: 2em;
	max-width: 33em;
	padding-top: 0.7em;
}

.event_info {
	clear: left;
	float: left;
	max-width: 18em;
	padding-left: 1em;
}

.event_image {
	float: left;
	clear: left;
	width: 75px;
	height: 75px;
}

/* Pantalla de Perfil */
.profile_field {
	padding-top: 1em;
}

.profile_field label {
	clear: both; color : "#595959";
	font-style: italic;
	color: "#595959";
}

.profile_field span {
	clear: both;
	color: "#595959";
	font-style: italic;
}

.profile_field input {
	width: 20em;
	clear: both;
}

.profile_field select {
	width: 20em;
	clear: both;
}

/* Pantalla de Registro */
.registration_field {
	padding-top: 1em;
}

.registration_field label {
	clear: both;
	color: "#595959";
	font-style: italic;
}

.registration_field span {
	clear: both;
	color: "#595959";
	font-style: italic;
}

.registration_field input {
	width: 20em;
	clear: both;
}

.registration_field select {
	width: 20em;
	clear: both;
}