<!DOCTYPE html>

<html>
<head>
<title>GW2 Events</title>
<!-- <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/blitzer/jquery-ui.css"> -->
<link rel="stylesheet" href="./css/style.css">
<script src="./js/css.js"></script>
</head>

<body>
	<header>
		<div class="logo_container">
			<a href="/"><img alt="Guild Wars 2 Events" src="img/logo.png"></a>
		</div>
		<div class="buttons_container">
			<a href="/registration">
				<button id="button_register" type="button" class="register_mouseOut" 
					onmousedown="registerMouseDown()" onmouseover="registerMouseOver()" 
					onmouseout="registerMouseOut()" onmouseup="registerMouseOver()"></button>
			</a>
			<a href="/login">
				<button id="button_login" type="button" class="login_mouseOut" 
					onmousedown="loginMouseDown()" onmouseover="loginMouseOver()"
					onmouseout="loginMouseOut()" onmouseup="loginMouseOver()"></button>
			</a>
		</div>
	</header>
	<article>
		<div class="events">
			<div class="finished_event">
			</div>
			
			<div class="current_event">
			</div>
			
			<div class="incoming_event">
			</div>
			
		</div>
	</article>
	<footer> 
		<img alt="Universidad de Sevilla" src="img/us_logo.png">
		<span>Trabajo de la asignatura Diseño de Aplicaciones Web</span>
		<span>Autor: Álvaro Tristancho</span>
	</footer>
</body>

</html>
