<!DOCTYPE html>

<html>
<head>
<title>GW2 Events</title>
<!-- <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/blitzer/jquery-ui.css"> -->
<link rel="stylesheet" href="./css/style.css">
<script src="./js/css.js"></script>
</head>

<body>
	<header>
		<div class="logo_container">
			<a href="/"><img alt="Guild Wars 2 Events" src="img/logo.png"></a>
		</div>
		<div class="buttons_container">
			<a href="/registration">
				<button id="button_register" type="button" class="register_mouseOut" 
					onmousedown="registerMouseDown()" onmouseover="registerMouseOver()" 
					onmouseout="registerMouseOut()" onmouseup="registerMouseOver()"></button>
			</a>
			<a href="/login">
				<button id="button_login" type="button" class="login_mouseOut" 
					onmousedown="loginMouseDown()" onmouseover="loginMouseOver()"
					onmouseout="loginMouseOut()" onmouseup="loginMouseOver()"></button>
			</a>
		</div>
	</header>
	<article>
		<h3>Bienvenid@ a Guild Wars 2 Events</h3>
		<p>La herramienta que te avisará del comienzo de un evento con la antelación que elijas.</p>
		<p>Registrate para empezar a disfrutar de la herramienta </p>
	</article>
	<footer> 
		<img alt="Universidad de Sevilla" src="img/us_logo.png">
		<span>Trabajo de la asignatura Diseño de Aplicaciones Web</span>
		<span>Autor: Álvaro Tristancho</span>
	</footer>
</body>

</html>
