<!DOCTYPE html>

<html>
<head>
	<title>Registrarse</title>
	<style type="text/css">
	.error {
		color: red
	}
	</style>
</head>

<body>
	¿Eres ya un usuario?
	<a href="/login">Login</a>
	<p>
	<h2>Registrarse</h2>
	<form method="post">
		<div>
			<label for="username">Nombre de usuario</label>
			<input type="text" id="username" name="username" value="{{username}}" required="required">
			<span class="error">{{username_error}}</span>
		</div>
			<label for="password">Contraseña</label>
			<input type="password" id="password" name="password" required="required">
			<span class="error">{{password_error}}</span>
		<div>
			<label for="verify_password">Verificar contraseña</label>
			<input type="password" id="verify_password" name="verify_password" required="required">
			<span class="error">{{verify_error}}</span>
		</div>
		<div>
			<label for="email">Correo electrónico</label>
			<input type="email" id="email" name="email" value="{{email}}" required="required">
			<span class="error">{{email_error}}</span>
		</div>
		<div>
			<label for="alert_enabled">¿Activar alertas?</label>
			<input type="checkbox" id="alert_enabled" name="alert_enabled">
		</div>		
		<div>
			<span>Intervalo de aviso</span>
			<select id="alert_time" name="alert_time">
				<option value="0">Al comenzar</option>
				<option value="5">5</option>
				<option value="10">10</option>
				<option value="15">15</option>
				<option value="20">20</option>
				<option value="25">25</option>
				<option value="30">30</option>
			</select>
		</div>

		<input type="submit">
	</form>
</body>

</html>
